script(type='text/template',id='tmplResults').
    -for (var i=0;i<response.results.length;i++)
        - var not = response.results[i];
        article.notice
            a(href='#/news/'+encodeURIComponent(not.id))
                if (not.fields)
                    img(src=not.fields.thumbnail)
                p= not.webTitle
                .clear
            .clear
script(type='text/template',id='tmlpView').
    h1= not.webTitle
    h4!= not.fields.trailText
    p.date= moment(not.fields.lastModified).fromNow()
    div!=not.fields.body
    a(href=not.fields.shortUrl,target='_blank') View on \#{not.fields.publication}
